<footer>
    <div class="container-fluid">
        <div class="row">
                <div class="col-12 col-md-4 footer2 icons" style="font-size:2em; color:white">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-pinterest-square"></i> 

                </div>
                <div class="col-12 footer2 col-md-4">
                        <p class="footer-text">Reserveer hier!</p>
                        <p class="footer-text2">Rakettrip, © Copyright 2017</p>
                        <p class="footer-text2">Verkoopsvoorwaarden</p>
                </div>
                <div class="col-12 footer2 col-md-4 icons" style="font-size:2em; color:white">
                        <p class="footer-text2">Beleef de beste trip van je leven via onze site!</p>
                        <p class="footer-text2">Neem een kijkje bij gallerij om de ervaringen van onze klanten te bekijken.</p><br>
                </div>
        </div>
    </div>
</footer>



