<footer class="footer">
    <div class="container">
        <div class="row">
                <div class="col-12 col-md-4 footer2" style="font-size:2em; color:white">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-pinterest-square"></i> 

                </div>
                <div class="col-12 footer2 col-md-4">
                        <a class="footer-text2" href="reserveer.html">Reserveer hier!</a>
                        <p class="footer-text2">Rakettrip, © Copyright 2017</p>
                        <a class="footer-text2 voorwaarden" href="vkvoorwaarden.html">Verkoopsvoorwaarden</a>

                </div>
                <div class="col-12 footer2 col-md-4 footer-col3">
                        <p class="footer-text2">Beleef de beste trip van je leven via onze site!</p>
                        <p class="footer-text2">TIP: Neem een kijkje in onze gallerij</p><br>
                </div>
        </div>
    </div>
</footer>



