@import
"bootstrap-variables",                  // See _bootstrap-variables.scss
"../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss
@import
"nav";

/* custom css altijd onderaan */

/* NAVIGATION BAR
-------------------------------------------------- */

.jumbotron{
    background-image: url("https://static.pexels.com/photos/176851/pexels-photo-176851.jpeg"); 
    background-size:100%;
}

.header{ 
    max-height: 400px;
}
.display-3{
    color:white;
}
.logo{
    margin-top: -25px;
    width:300px;
    height:auto;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color: rgb(8, 11, 53); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-family: Arial, Helvetica, sans-serif;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
.indexfoto{
    width:100%;
}
.indexfoto3{
    width:100%;
    margin-top: 20px;
    overflow: hidden;
}
.index-titel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;
    margin-top: -140px;
}
.index-text{
    font-size: 10pt;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tarieven_titel{
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(19, 134, 151);
}
.tarieven-text{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.reserveer{
    font-size: 18pt;
    color:rgb(19, 134, 151);
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    background-color:rgb(19, 134, 151);
    border:none;
    color:white;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.end{
    padding-bottom: 150px;
}

footer {
    height: 310px;
    background-image: url("https://static.pexels.com/photos/176851/pexels-photo-176851.jpeg"); 
    background-size:100%;
}
.footer-text{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
.footer-text2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-top:20px;
}
.voorwaarden{
    margin-bottom: 50px;
}
.footer2{
    margin-top: 20px;
}
.footer-col3{
    margin-top: 2px;
}
.fab{
    margin-top: -50px;
}
.overons-foto{
    width:300px;
    height:auto;
    margin-bottom: 80px;
    margin-top: 50px;
    margin-left: 35px;
}
.werking{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13pt;
    margin-top: -20pt;
}
.overons-text1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    margin-bottom: 80px;
}
.overons-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
}
.pagina-titel{
    margin-top: 30pt;
    margin-bottom:30px;
    font-size:40px;
}
.item{
    margin-bottom:50px;
}
.carousel{
    margin-top: 10px;
    margin-bottom: 10px;
}
.gallerij{
    width: 100%;
    height: auto;
    margin:20px;
}
.card{
    margin-top: 130px;
    margin-bottom: 50px;
    align-content: center;
    background-color: rgb(217, 222, 223);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
}
.card-header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
}
.betalen{
    margin-bottom: 40px;
}
.leeg{
    background-color: white;
}
.vk{
    margin:30px;
    margin-left: 0px;
}
.gegevens{
    margin:5px !important;
    background-color: rgb(19, 34, 56);
}
.carousel-item{
    width: 400px;
}
.carousel-control-next{
    margin-right: 150px;
}
.progress{
    margin-bottom:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}