<!DOCTYPE html>
<html lang="nl">
<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
</head>
<body>

<!-- start titel-->

<div class="jumbotron header">    
        <img src="images/logo.png" class="logo">
</div>
    
<div>
    {% include nav.html %}
</div>

<div>
    {{content}}
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</div>


{% include footer.html %}


{% include scripts-bottom.html %}
</body>
</html>

